.body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.card-header{
  display: flex;
  width: 100%;
  gap: 2rem;
  background-color:white;
  border: none;
  transition: 0.1s ease background-color;

}

.card-header:hover{
  background-color: rgb(244, 244, 244);
  cursor: pointer;
}
.cards {
  /* border: 1px solid black; */
  width: 100%;
  /* padding: 2rem; */
  display: flex;
  /* gap: 8px; */
  flex-direction: row;
  flex-wrap: wrap;
  text-wrap: wrap;
  
}

.card-eles {
  width: 25vw;
  background-color: white;
  /* border: white; */
  /* border: 1px solid white; */
  /* line-height: 0rem; */
  /* height: 8rem; */
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid gray;

}
.heading {
  color: rgb(25, 94, 25);
}
.dash {
  position: sticky;
  top: 0;
  z-index: 1000;
}


.profile {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50px;
}
.header {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.container-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: center;
  /* align-items: center; */
  align-self: center;
  width: 100%;
  height: 80vh;
}

.container1 {
  /* padding: 1rem; */
  /* margin-top: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 35rem;
  height: 80vh;

  padding: 0 0;
  margin: 0 0;
  margin-left: 2rem;
  /* height: 100%; */
  overflow-y: auto;
}
.containe2 {
  width: 50%;
  height: 80vh;
  overflow-y: auto;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  align-self: flex-end;
}

.card-req {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(22, 126, 4);
  height: 25%;
}

.card-req:hover {
  background-color: rgb(244, 244, 244);
  cursor: pointer;
}

.grps {
  display: flex;
  height: 80vh;
  overflow-y: auto;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 0;
  margin: 0 0;
  width: 90%;
  justify-self: flex-end;
  /* align-self: flex-end; */
}

.buddies {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.req-btns {
  display: flex;
  margin: 0 0;
  padding: 0 0;
  gap: 5rem;
}
.inner1{
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-self: center;
  align-items: center;
}

.inners{
  display: flex;
  margin-top: 3rem;
  /* height: 100vh; */
}
