body {
  background-color: rgb(244, 244, 244);
}
.heading {
  color: rgb(25, 94, 25);
}
.two-containers {
  display: flex;
  gap: 4rem;
}

.form {
  width: 40rem;
  border: solid 1px rgb(25, 94, 25);
  border-radius: 5px;
  padding: 3rem;
  background-color: white;
  /* display: flex; */
}

.gn {
  width: 50%;
}
.form-label {
  text-decoration: solid;
  font-weight: 500;
}

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.submit-btn {
  background-color: rgb(66, 239, 66);
  color: black;
  padding: 8px;
  border-radius: none;
  transition: ease-out 0.3s border-radius;
}
.submit-btn:hover {
  border-radius: 50px;
}
.container-ele {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-self: center;
  align-self: center;
  width: 100%;
  margin:auto;
  margin-left: 0;
  padding-left:0;
}

.freq{
  width: 50%;

}
.organiser-name {
  width: 50%;
}

.inp {
  background-color: rgb(244, 244, 244);
  border: solid 1px rgb(65, 63, 63);
}

.inp::placeholder {
  color: rgb(48, 46, 46);
}

@media (max-width: 670px) {
  .form{
    width: 95vw;
    
  }
  .two-containers{
    gap: 2rem;
  }
}
@media (max-width: 580px) {
  .two-containers{
    flex-wrap: wrap;
  }
  .time{
    width: 100%;
  }
  .organiser-name {
    width: 100%;
  }
  .freq{
    width: 100%;
  }
  .gn{
    width: 100%;
  }
  .form{
    padding: 1rem;
  }
  .heading{
    font-size: 1.5rem;
  }
}
