.body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.card {
  width: 100%;
}
/* .card:hover {
  opacity: 0.8;
  cursor: pointer;
} */
.card-req {
  width: 35%;
}


.search {
  position: sticky;
  top: 80px;
  z-index: 1000;
  width: 100%;
  /* margin-left: 1rem; */
  /* padding: 2rem; */
}

.requests {
  display: flex;
  height: 70vh;
  overflow-y: auto;
  flex-wrap: wrap;
  margin: 0 0;
  width: 100%;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%;
  height: 80vh; */
}
.container-req {
  display: flex;
  /* gap: 2rem; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.btns {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.req-btns{
  gap: 1rem;
  padding-left: 1rem;
}
.req-img{
  height: 3rem;
  width: 3rem;
  border-radius: 50px;
}

.title{
  margin-bottom: 2rem;
}

.two{
  display: flex;
  gap: 2rem;
}
.nav-item{
  padding: 5px 1.5rem;
}

@media (max-width: 800px) {
  .requests {
    display: flex;
    /* height: 70vh; */
    overflow-y: auto;
    flex-wrap: wrap;
    margin: 0 0;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .card-req {
    width: 70vw;
  }

  .group{
    margin-right: 0;
  }
}


@media (max-width: 440px) {
  /* .requests {
    display: flex;
    height: 140vh;
    overflow-y: auto;
    flex-wrap: wrap;
    margin: 0 0;
    width: 100%;
    justify-content: center;
    align-items: center;
  } */
   

  .card-req {
    width: 85vw;
  }
  .two{
    width: 100%;
    gap: none;
    justify-content: space-between;

  }
  .search-inp{
    width: 40vw;
  }
  .nav-item{
    padding: 5px 1rem;
  }
  

}
