<nav class="p-3 bg-success text-white logout">
  <div style="display: flex; justify-content: flex-end; width: 100%">
    <form action="/signup" method="get">
      <button type="submit" class="btn btn-light">Logout</button>
    </form>
  </div>
</nav>

<style>
  .logout {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
</style>
